body {
    background: #eee;
    font-size: 0.9em;
}
#list-template {
    display: none;
}
#container {
    margin: 0 auto;
    width: 700px;
    font-family: sans-serif;
    line-height: 1.5em;
    color: #666;
    letter-spacing: 1px;


}

#controller {
    float: left;
    width: 200px;
    padding-top: 2.5em;
}
#controller  ul{
    list-style-type: none;
    padding: 0;
}
#controller  ul li {
    float: left;
    width: 64px;
}

#display {
    width: 468px;
    float:left;
    margin-top: 2em;
    background-image: linear-gradient(bottom, rgb(255,255,170) 43%, rgb(253,255,204) 58%);
    background-image: -o-linear-gradient(bottom, rgb(255,255,170) 43%, rgb(253,255,204) 58%);
    background-image: -moz-linear-gradient(bottom, rgb(255,255,170) 43%, rgb(253,255,204) 58%);
    background-image: -webkit-linear-gradient(bottom, rgb(255,255,170) 43%, rgb(253,255,204) 58%);
    background-image: -ms-linear-gradient(bottom, rgb(255,255,170) 43%, rgb(253,255,204) 58%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.28, rgb(255,255,170)),
        color-stop(0.53, rgb(253,255,204))
        );
    padding: 1em 1em 2em 1em;
    height: 80px;
    border: 1px solid #999;
    border-radius: 10px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: inset 0 0 5px #888;
}

#display ul {
    list-style: none;
    margin-top: 0;
    padding-top: 0.5em;
}

#playlist {
    clear: both;
    padding-top: 2em;
}
#playlist h2 {
    margin-left: 1em;
}

#playlist ol {
    list-style-position: inside;
    margin-left: 0;
    padding-left: 0;
}

#playlist ol li {
    background: #fff;
    margin-bottom: 2px;
    padding: 0.4em;
    padding-left: 1em;
}

#playlist ol li.current {
    background: #ddd;
}
#playlist ol li.current span {
    display: block;
    float: right;
    padding-right: 1em;
}
#playlist ol li.current a:link {
    color: #000;
}

#playlist ol li a:link, #playlist ol li a:visited {
    text-decoration: none;
    color: #999;
    font-size: 0.9em;
}
#playlist ol li a:hover {
    text-decoration: none;
    color: #000;
}